---
layout: default
---

<div class="home">
    {% if site.posts.size > 0 %}
        <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
        <section class="l-section">
            {% for post in paginator.posts %}
            <!-- <div class="l-post_item"> -->
                <article class="post_item-wrapper">
                    <div class="post_item-date">
                        {% assign date_format = site.minima.date_format | default: "%Y/%-m/%-d" %}
                        <span class="post-meta">{{ post.date | date: date_format }}</span>
                    </div>
                    <a class="post-link" href="{{ post.url | relative_url }}">
                        {{ post.title | escape }}
                    </a>
                    {% if site.show_excerpts %}
                        {{ post.excerpt }}
                    {% endif %}
                </article>
            <!-- </div> -->
            
            {% endfor %}
        </section>
        <div class="pagination">
            {% if paginator.previous_page %}
                <a href="{{ paginator.previous_page_path | prepend: site.baseurl}}" class="previous">&laquo; Previous</a>
            {% endif %}
        
            <span class="page_number">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
        
            {% if paginator.next_page %}
                <a href="{{ paginator.next_page_path | prepend: site.baseurl}}" class="next">Next &raquo;</a>
            {% endif %}
        </div>

        <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p> -->
    {% endif %}
</div>
