$width: 1280px;
$side-width: 360px;
// $sidebar-color: #eec196;

.l-header{
    width: 100%;
    // background-color: #d18e8e;
    .l-header-wrapper{
        max-width: $width;
        padding: 0px 10px;
        margin: 0px auto;
    }
}

.l-main{
    width: 100%;
    // background-color: #b7d1b5;
    .l-main-wrapper{
        // position: relative;
        // overflow: hidden;
        display: flex;
        max-width: $width;
        margin: 0px auto;
        padding: 10px 20px;
        .l-main-content{
            // width: 100%;
            max-width: $width - $side-width;
            // border-right: solid $side-width $sidebar-color;
            .l-main-content_wrapper{
                margin-right: 30px;
            }
        }
        .l-main-sidebar{
            // position: absolute;
            // top: 0px;
            // right: 0px;
            width: $side-width;
        } 
    }
}

.l-footer{
    width: 100%;
    .l-footer-wrapper{
        max-width: $width;
        margin: 0px auto;
    }
}
