$width: 1280px;
$side-width: 320px;
// $sidebar-color: #eec196;

.l-header{
    width: 100%;
    // background-color: #d18e8e;
    .l-header-wrapper{
        max-width: $width;
        padding: 0px 10px;
        margin: 0px auto;
        text-align: center;
    }
}

.l-main{
    width: 100%;
    background-color: #eeedeb;
    box-shadow: 0px 1px 8px 1px rgba(0, 0, 0, 0.54);
    position: relative;
    .l-main-wrapper{
        // position: relative;
        // overflow: hidden;
        display: flex;
        max-width: $width;
        margin: 0px auto;
        padding: 0px 20px;
        .l-main-content{
            // width: 100%;
            margin: 40px 0px;
            width: $width - $side-width;
            max-width: $width - $side-width;
            // border-right: solid $side-width $sidebar-color;
            .l-main-content_wrapper{
                background-color: #ffffff;
                border-radius: 4px;
                box-shadow: 0px 1px 8px 1px rgba(0,0,0,0.54);
                margin-right: 30px;
            }
        }
        .l-main-sidebar{
            // position: fixed;
            // top: 0px;
            // right: 0px;
            // overflow: scroll;
            min-width: $side-width;
            width: $side-width;
        } 
    }
}

@media screen and (max-width: 1340px) {
    .l-main{
        width: 100%;
        // background-color: #b7d1b5;
        .l-main-wrapper{
            // position: relative;
            // overflow: hidden;
            display: flex;
            max-width: $width;
            margin: 0px auto;
            padding: 0px;
            .l-main-content{
                width: 100%;
                max-width: $width;
                margin: 40px auto;
                max-width: 950px;
                // border-right: solid $side-width $sidebar-color;
                .l-main-content_wrapper{
                    background-color: #ffffff;
                    border-radius: 4px;
                    box-shadow: 0px 1px 8px 1px rgba(0,0,0,0.54);
                    margin-right: 30px;
                }
            }
            .l-main-sidebar{
                min-width: 0px;
                width: 0px;
            } 
        }
    }
}

.l-footer{
    width: 100%;
    .l-footer-wrapper{
        max-width: $width;
        margin: 0px auto;
    }
}
