---
layout: default
---

<div class="blog list">
    <h1>Filed Under <small>#{{ page.tag }}</small></h1>

    <section class="post_list">
        {% for post in site.categories[page.tag] %}
            <article class="post_list-item">
                <div class="post_list-item_date">
                    {% assign date_format = site.minima.date_format | default: "%Y/%-m/%-d" %}
                    <span class="post_list-item_meta">{{ post.date | date: date_format }}</span>
                </div>
                <span class="post_link-item_title">
                    {{ post.title | escape }}
                </span>
                <div class="post_link-item_excerpt">
                    {{ post.excerpt | remove: '<p>' | remove: '</p>' }}
                </div>
                <a class="post_list-item_link" href="{{ post.url | relative_url }}"></a>
            </article>
        {% endfor %}
    </section>
</div>
