<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "ja" }}">
{% include head.html %}

<body>
    {% include header.html %}
    <main class="l-main" aria-label="Content">
        <div class="l-main-wrapper">
            <div class="l-main-content">
                <div class="l-main-content_wrapper">
                    {{ content }}
                </div>
            </div>
            <div class="l-main-sidebar">
                {% include sidebar.html %}
            </div>
        </div>
    </main>
    {% include footer.html %}
</body>

</html>