<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "ja" }}">
    {% include head.html %}
    <body>
        {% include header.html %}
        <main id="l-main" aria-label="Content">
            <div class="l-main-wrapper">
                <div class="l-main-content">
                    {{ content }}
                </div>
                <div class="l-main-sidebar">
                    main sidebar
                </div>
            </div>
        </main>
        {% include footer.html %}
    </body>
</html>
