.footer{
    border-top: 1px solid #000000;
    padding-top: 10px;
    .footer-copyright{
        font-size: 0.7rem;
        text-align: center;
    }
    .footer-credit{
        float: right;
        max-width: 300px;
        font-size: 0.7rem;
        .footer-credit_title{
            display: block;
        }
        .footer-credit_item{
            display: block;
        }
    }
}
