.header{
    padding-bottom: 6px;
    margin-bottom: 10px;
    border-bottom: 2px solid #000000;
    &:after{
        content: "";
        display: block;
        padding-bottom: 10px;
        border-bottom: 2px solid #000000;
    }
    a{
        &.header-site_title{
            color: #333;
            text-decoration: none;
        }
    }
}
