.post_list{
    width: 100%;
    .post_list-item{
        position: relative;
        min-height: 70px;
        padding: 10px;
        // margin-bottom: 10px;
        // border: 2px solid #ffffff;
        transition-duration: 0.15s;
        &:hover{
            $linkColor: #14a9e4;
            background-color: #dbdbdb;
            color: $linkColor;
            // border: 1px 1px 2px 1px solid #8d8d8d;
            .post_list-item_date{
                color: $linkColor;
            }
            .post_link-item_excerpt{
                color: $linkColor;
            }
        }
        .post_list-item_date{
            margin-bottom: 8px;
            color: #000000;
            font-size: 0.7rem;
        }
        .post_link-item_title{
            font-size: 1.4rem;
        }
        .post_list-item_title_short{
            font-size: 0.8rem;
        }
        .post_list-item_link{
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        .post_link-item_excerpt{
            font-size: 0.8rem;
            margin: 8px 1em 0px 2em;
            color: #616161;
        }
    }
}
