// inline highlight include backquote.
// sample : this is a `pen`.
code{
    &.highlighter-rouge{
        margin: 0px 2px;
        padding: 1px 4px;
        background-color: #f0f0f0;
        border: 1px solid #d8d8d8;
        border-radius: 3px;
        font-family:-apple-system,BlinkMacSystemFont,"Helvetica Neue","游ゴシック Medium",YuGothic,YuGothicM,"Hiragino Kaku Gothic ProN",メイリオ,Meiryo,sans-serif;
        font-size: 0.95em;
        color: #e65757;
    }
}

// code block
.highlighter-rouge{
    div.highlight{
        padding: 0.2em 0.7em;
        pre.highlight{
            code{
                font-family:-apple-system,BlinkMacSystemFont,"Helvetica Neue","游ゴシック Medium",YuGothic,YuGothicM,"Hiragino Kaku Gothic ProN",メイリオ,Meiryo,sans-serif;
                font-size: 1em;
                line-height: 1.2em;
            }
        }
    }
}