.sidebar{
    .sidebar-block{
        margin-bottom: 60px;
        .sidebar-block_title{
            border-left: 10px solid #000000;
            padding-left: 1rem;
        }
        .sidebar-block_content{
            padding-left: 10px;
            .sidebar-profile_description{
                display: block;
                margin-bottom: 10px;
            }
            .sidebar-profile_icon{
                display: block;
                width: 220px;
                height: 220px;
                border-radius: 50%;
                border: 6px solid #dddddd;
                margin: 0px auto 10px auto;
            }
            .sidebar-profile_social_link_wrapper{
                .sidebar-profile_social_icon{
                    margin-right: 10px;
                }
                a{
                    text-decoration: none;
                }
            }
        }
    }
}

@media screen and (max-width: 1340px) {
    margin-top: 40px;
}
